https://dlcdn.apache.org/spark/spark-3.5.0/spark-3.5.0-bin-hadoop3.tgz

In [ ]:
# !conda install pyspark -y

# tar -xzf spark-3.5.0-bin-hadoop3.tgz
# sudo mv spark-3.5.0-bin-hadoop3 /opt

In [2]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.master('local[*]').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/02/01 17:45:02 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
spark

In [5]:
# lista de tuplas
data = [('Zeca', '35'), ('Eva', '29')]

# nome das colunas 
colNames = ['Nome', 'Idade']

# Convertendo para o dataframe
df = spark.createDataFrame(data, colNames)

# Formato pandas
df.toPandas()

   Nome Idade
0  Zeca    35
1   Eva    29

In [6]:
df.show()

+----+-----+
|Nome|Idade|
+----+-----+
|Zeca|   35|
| Eva|   29|
+----+-----+