https://dlcdn.apache.org/spark/spark-3.5.0/spark-3.5.0-bin-hadoop3.tgz

In [1]:
# !conda install pyspark -y

# tar -xzf spark-3.5.0-bin-hadoop3.tgz
# sudo mv spark-3.5.0-bin-hadoop3 /opt

In [2]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

import warnings
warnings.filterwarnings('ignore')

In [3]:
spark = SparkSession.builder.master('local[*]').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/02/02 05:16:09 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
spark

https://caelum-online-public.s3.amazonaws.com/2273-introducao-spark/01/estabelecimentos.zip

https://caelum-online-public.s3.amazonaws.com/2273-introducao-spark/01/empresas.zip

In [5]:
path_estabelecimento = '/home/rafael/Downloads/estabelecimentos/'
estabelecimento = spark.read.csv(path_estabelecimento, sep=';', inferSchema=True)


path_empresas = '/home/rafael/Downloads/socios/'
empresas = spark.read.csv(path_empresas, sep=';', inferSchema=True)

In [6]:
empresas.limit(5).toPandas()

,_c0,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9,_c10
0,411,2,LILIANA PATRICIA GUASTAVINO,***678188**,22,19940725,NaN,***000000**,None,0,7
1,411,2,CRISTINA HUNDERTMARK,***637848**,28,19940725,NaN,***000000**,None,0,7
2,5813,2,CELSO EDUARDO DE CASTRO STEPHAN,***786068**,49,19940516,NaN,***000000**,None,0,8
3,5813,2,EDUARDO BERRINGER STEPHAN,***442348**,49,19940516,NaN,***000000**,None,0,5
4,14798,2,HANNE MAHFOUD FADEL,***760388**,49,19940609,NaN,***000000**,None,0,8

In [7]:
estabsColNames = ['cnpj_basico', 'cnpj_ordem', 'cnpj_dv', 'identificador_matriz_filial', 'nome_fantasia', 'situacao_cadastral', 'data_situacao_cadastral', 'motivo_situacao_cadastral', 'nome_da_cidade_no_exterior', 'pais', 'data_de_inicio_atividade', 'cnae_fiscal_principal', 'cnae_fiscal_secundaria', 'tipo_de_logradouro', 'logradouro', 'numero', 'complemento', 'bairro', 'cep', 'uf', 'municipio', 'ddd_1', 'telefone_1', 'ddd_2', 'telefone_2', 'ddd_do_fax', 'fax', 'correio_eletronico', 'situacao_especial', 'data_da_situacao_especial']

empresasColNames = ['cnpj_basico', 'identificador_de_socio', 'nome_do_socio_ou_razao_social', 'cnpj_ou_cpf_do_socio', 'qualificacao_do_socio', 'data_de_entrada_sociedade', 'pais', 'representante_legal', 'nome_do_representante', 'qualificacao_do_representante_legal', 'faixa_etaria']

In [8]:
for index, colName in enumerate(empresasColNames):
    empresas = empresas.withColumnRenamed(f"_c{index}", colName)
    
empresas.limit(5).toPandas()

,cnpj_basico,identificador_de_socio,nome_do_socio_ou_razao_social,cnpj_ou_cpf_do_socio,qualificacao_do_socio,data_de_entrada_sociedade,pais,representante_legal,nome_do_representante,qualificacao_do_representante_legal,faixa_etaria
0,411,2,LILIANA PATRICIA GUASTAVINO,***678188**,22,19940725,NaN,***000000**,None,0,7
1,411,2,CRISTINA HUNDERTMARK,***637848**,28,19940725,NaN,***000000**,None,0,7
2,5813,2,CELSO EDUARDO DE CASTRO STEPHAN,***786068**,49,19940516,NaN,***000000**,None,0,8
3,5813,2,EDUARDO BERRINGER STEPHAN,***442348**,49,19940516,NaN,***000000**,None,0,5
4,14798,2,HANNE MAHFOUD FADEL,***760388**,49,19940609,NaN,***000000**,None,0,8

In [9]:
for index, colName in enumerate(estabsColNames):
    estabelecimento = estabelecimento.withColumnRenamed(f"_c{index}", colName)
    
estabelecimento.limit(5).toPandas()

24/02/02 05:16:19 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

,cnpj_basico,cnpj_ordem,cnpj_dv,identificador_matriz_filial,nome_fantasia,situacao_cadastral,data_situacao_cadastral,motivo_situacao_cadastral,nome_da_cidade_no_exterior,pais,...,municipio,ddd_1,telefone_1,ddd_2,telefone_2,ddd_do_fax,fax,correio_eletronico,situacao_especial,data_da_situacao_especial
0,306,1,48,1,None,2,20051103,0,None,NaN,...,7107,None,None,None,None,NaN,None,None,None,NaN
1,1355,1,3,1,None,8,20081231,71,None,NaN,...,7231,None,None,None,None,NaN,None,None,None,NaN
2,4820,1,51,1,CARTORIO FELIX DE SOUZA,2,19980728,0,None,NaN,...,9431,None,None,None,None,NaN,None,None,None,NaN
3,5347,1,27,1,QUIOSQUE,8,20000105,1,None,NaN,...,6469,None,None,None,None,NaN,None,None,None,NaN
4,6846,1,39,1,BADU,8,20080903,54,None,NaN,...,7107,None,None,None,None,NaN,None,None,None,NaN

In [10]:
empresas.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- identificador_de_socio: integer (nullable = true)
 |-- nome_do_socio_ou_razao_social: string (nullable = true)
 |-- cnpj_ou_cpf_do_socio: string (nullable = true)
 |-- qualificacao_do_socio: integer (nullable = true)
 |-- data_de_entrada_sociedade: integer (nullable = true)
 |-- pais: integer (nullable = true)
 |-- representante_legal: string (nullable = true)
 |-- nome_do_representante: string (nullable = true)
 |-- qualificacao_do_representante_legal: integer (nullable = true)
 |-- faixa_etaria: integer (nullable = true)

In [11]:
estabelecimento.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- cnpj_ordem: integer (nullable = true)
 |-- cnpj_dv: integer (nullable = true)
 |-- identificador_matriz_filial: integer (nullable = true)
 |-- nome_fantasia: string (nullable = true)
 |-- situacao_cadastral: integer (nullable = true)
 |-- data_situacao_cadastral: integer (nullable = true)
 |-- motivo_situacao_cadastral: integer (nullable = true)
 |-- nome_da_cidade_no_exterior: string (nullable = true)
 |-- pais: integer (nullable = true)
 |-- data_de_inicio_atividade: integer (nullable = true)
 |-- cnae_fiscal_principal: integer (nullable = true)
 |-- cnae_fiscal_secundaria: string (nullable = true)
 |-- tipo_de_logradouro: string (nullable = true)
 |-- logradouro: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- complemento: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- cep: integer (nullable = true)
 |-- uf: string (nullable = true)
 |-- municipio: integer (nullable = true)
 |-- ddd_1: string (nullable = true)
 |-- telefone_1: string (nullable = true)
 |-- ddd_2: string (nullable = true)
 |-- telefone_2: string (nullable = true)
 |-- ddd_do_fax: integer (nullable = true)
 |-- fax: string (nullable = true)
 |-- correio_eletronico: string (nullable = true)
 |-- situacao_especial: string (nullable = true)
 |-- data_da_situacao_especial: integer (nullable = true)

## Conversão

In [12]:
from pyspark.sql.types import DoubleType, StringType
from pyspark.sql import functions as f

In [13]:
empresas.limit(5).toPandas()

,cnpj_basico,identificador_de_socio,nome_do_socio_ou_razao_social,cnpj_ou_cpf_do_socio,qualificacao_do_socio,data_de_entrada_sociedade,pais,representante_legal,nome_do_representante,qualificacao_do_representante_legal,faixa_etaria
0,411,2,LILIANA PATRICIA GUASTAVINO,***678188**,22,19940725,NaN,***000000**,None,0,7
1,411,2,CRISTINA HUNDERTMARK,***637848**,28,19940725,NaN,***000000**,None,0,7
2,5813,2,CELSO EDUARDO DE CASTRO STEPHAN,***786068**,49,19940516,NaN,***000000**,None,0,8
3,5813,2,EDUARDO BERRINGER STEPHAN,***442348**,49,19940516,NaN,***000000**,None,0,5
4,14798,2,HANNE MAHFOUD FADEL,***760388**,49,19940609,NaN,***000000**,None,0,8

In [14]:
# Troca a virgula por ponto
empresas = empresas.withColumn('qualificacao_do_socio', f.regexp_replace('qualificacao_do_socio',',','.'))

In [15]:
empresas = empresas.withColumn('qualificacao_do_socio', empresas['qualificacao_do_socio'].cast(DoubleType()))

In [16]:
empresas = empresas.withColumn("data_de_entrada_sociedade", f.to_date(empresas.data_de_entrada_sociedade.cast(StringType()),'yyyyMMdd'))

In [17]:
empresas.limit(5).toPandas()

,cnpj_basico,identificador_de_socio,nome_do_socio_ou_razao_social,cnpj_ou_cpf_do_socio,qualificacao_do_socio,data_de_entrada_sociedade,pais,representante_legal,nome_do_representante,qualificacao_do_representante_legal,faixa_etaria
0,411,2,LILIANA PATRICIA GUASTAVINO,***678188**,22.0,1994-07-25,NaN,***000000**,None,0,7
1,411,2,CRISTINA HUNDERTMARK,***637848**,28.0,1994-07-25,NaN,***000000**,None,0,7
2,5813,2,CELSO EDUARDO DE CASTRO STEPHAN,***786068**,49.0,1994-05-16,NaN,***000000**,None,0,8
3,5813,2,EDUARDO BERRINGER STEPHAN,***442348**,49.0,1994-05-16,NaN,***000000**,None,0,5
4,14798,2,HANNE MAHFOUD FADEL,***760388**,49.0,1994-06-09,NaN,***000000**,None,0,8

## Select

In [18]:
empresas.select('*').show(5)

+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+----+-------------------+---------------------+-----------------------------------+------------+
|cnpj_basico|identificador_de_socio|nome_do_socio_ou_razao_social|cnpj_ou_cpf_do_socio|qualificacao_do_socio|data_de_entrada_sociedade|pais|representante_legal|nome_do_representante|qualificacao_do_representante_legal|faixa_etaria|
+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+----+-------------------+---------------------+-----------------------------------+------------+
|        411|                     2|         LILIANA PATRICIA ...|         ***678188**|                 22.0|               1994-07-25|null|        ***000000**|                 null|                                  0|           7|
|        411|                     2|         CRISTINA HUNDERTMARK|         ***637848**|                 28.0|               1994-07-25|null|        ***000000**|                 null|                                  0|           7|
|       5813|                     2|         CELSO EDUARDO DE ...|         ***786068**|                 49.0|               1994-05-16|null|        ***000000**|                 null|                                  0|           8|
|       5813|                     2|         EDUARDO BERRINGER...|         ***442348**|                 49.0|               1994-05-16|null|        ***000000**|                 null|                                  0|           5|
|      14798|                     2|          HANNE MAHFOUD FADEL|         ***760388**|                 49.0|               1994-06-09|null|        ***000000**|                 null|                                  0|           8|
+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+----+-------------------+---------------------+-----------------------------------+------------+
only showing top 5 rows

In [19]:
empresas.select('*').show(5, False)

+-----------+----------------------+-------------------------------+--------------------+---------------------+-------------------------+----+-------------------+---------------------+-----------------------------------+------------+
|cnpj_basico|identificador_de_socio|nome_do_socio_ou_razao_social  |cnpj_ou_cpf_do_socio|qualificacao_do_socio|data_de_entrada_sociedade|pais|representante_legal|nome_do_representante|qualificacao_do_representante_legal|faixa_etaria|
+-----------+----------------------+-------------------------------+--------------------+---------------------+-------------------------+----+-------------------+---------------------+-----------------------------------+------------+
|411        |2                     |LILIANA PATRICIA GUASTAVINO    |***678188**         |22.0                 |1994-07-25               |null|***000000**        |null                 |0                                  |7           |
|411        |2                     |CRISTINA HUNDERTMARK           |***637848**         |28.0                 |1994-07-25               |null|***000000**        |null                 |0                                  |7           |
|5813       |2                     |CELSO EDUARDO DE CASTRO STEPHAN|***786068**         |49.0                 |1994-05-16               |null|***000000**        |null                 |0                                  |8           |
|5813       |2                     |EDUARDO BERRINGER STEPHAN      |***442348**         |49.0                 |1994-05-16               |null|***000000**        |null                 |0                                  |5           |
|14798      |2                     |HANNE MAHFOUD FADEL            |***760388**         |49.0                 |1994-06-09               |null|***000000**        |null                 |0                                  |8           |
+-----------+----------------------+-------------------------------+--------------------+---------------------+-------------------------+----+-------------------+---------------------+-----------------------------------+------------+
only showing top 5 rows

In [20]:
empresas.select('nome_do_socio_ou_razao_social','qualificacao_do_socio').show(5,False)

+-------------------------------+---------------------+
|nome_do_socio_ou_razao_social  |qualificacao_do_socio|
+-------------------------------+---------------------+
|LILIANA PATRICIA GUASTAVINO    |22.0                 |
|CRISTINA HUNDERTMARK           |28.0                 |
|CELSO EDUARDO DE CASTRO STEPHAN|49.0                 |
|EDUARDO BERRINGER STEPHAN      |49.0                 |
|HANNE MAHFOUD FADEL            |49.0                 |
+-------------------------------+---------------------+
only showing top 5 rows

In [21]:
empresas.select('nome_do_socio_ou_razao_social','qualificacao_do_socio',f.year('data_de_entrada_sociedade').alias('ano_de_entrada')).show(5,False)

+-------------------------------+---------------------+--------------+
|nome_do_socio_ou_razao_social  |qualificacao_do_socio|ano_de_entrada|
+-------------------------------+---------------------+--------------+
|LILIANA PATRICIA GUASTAVINO    |22.0                 |1994          |
|CRISTINA HUNDERTMARK           |28.0                 |1994          |
|CELSO EDUARDO DE CASTRO STEPHAN|49.0                 |1994          |
|EDUARDO BERRINGER STEPHAN      |49.0                 |1994          |
|HANNE MAHFOUD FADEL            |49.0                 |1994          |
+-------------------------------+---------------------+--------------+
only showing top 5 rows

## Ordenação

In [22]:
empresas\
    .select('nome_do_socio_ou_razao_social','qualificacao_do_socio',f.year('data_de_entrada_sociedade').alias('ano_de_entrada'))\
    .orderBy('qualificacao_do_socio',ascending=False)\
    .show(5,False)

+-----------------------------+---------------------+--------------+
|nome_do_socio_ou_razao_social|qualificacao_do_socio|ano_de_entrada|
+-----------------------------+---------------------+--------------+
|SEABORN LIMITED              |79.0                 |2018          |
|ITOCHU CORPORATION           |79.0                 |2018          |
|ABSALUN SERVICES LIMITED     |79.0                 |2019          |
|YAWARA TOWER GMBH            |79.0                 |2018          |
|SALT LAKE REAL ESTATE LLC    |79.0                 |2020          |
+-----------------------------+---------------------+--------------+
only showing top 5 rows

In [24]:
empresas\
    .select('nome_do_socio_ou_razao_social','qualificacao_do_socio',f.year('data_de_entrada_sociedade').alias('ano_de_entrada'))\
    .orderBy(['qualificacao_do_socio','ano_de_entrada'],ascending=[True,False])\
    .show(5,False)

+------------------------------------+---------------------+--------------+
|nome_do_socio_ou_razao_social       |qualificacao_do_socio|ano_de_entrada|
+------------------------------------+---------------------+--------------+
|APARECIDA PIRES RODRIGUES           |0.0                  |2007          |
|APARECIDA DE LOURDES ESMERINI BENINI|0.0                  |2007          |
|ALISSON BARBOSA SILVA               |5.0                  |2021          |
|LUIS EDUARDO BELLOTTI ALVIM         |5.0                  |2021          |
|JOAO LUIZ PEREZ                     |5.0                  |2021          |
+------------------------------------+---------------------+--------------+
only showing top 5 rows

## Filtros

In [25]:
empresas.where("qualificacao_do_socio==5.0").show(5,False)

+-----------+----------------------+------------------------------------+--------------------+---------------------+-------------------------+----+-------------------+---------------------+-----------------------------------+------------+
|cnpj_basico|identificador_de_socio|nome_do_socio_ou_razao_social       |cnpj_ou_cpf_do_socio|qualificacao_do_socio|data_de_entrada_sociedade|pais|representante_legal|nome_do_representante|qualificacao_do_representante_legal|faixa_etaria|
+-----------+----------------------+------------------------------------+--------------------+---------------------+-------------------------+----+-------------------+---------------------+-----------------------------------+------------+
|140322     |2                     |JULIANO AUGUSTO RODRIGUES DE ALMEIDA|***900636**         |5.0                  |2007-04-27               |null|***000000**        |null                 |0                                  |5           |
|140322     |2                     |WEVERTON ANTONIO ROBSON             |***374096**         |5.0                  |2010-07-30               |null|***000000**        |null                 |0                                  |7           |
|364578     |2                     |ANDRE GOMES SILVEIRA                |***136785**         |5.0                  |1998-07-14               |null|***000000**        |null                 |0                                  |5           |
|364578     |2                     |GRACE LEITE SANTOS                  |***274435**         |5.0                  |1998-07-14               |null|***000000**        |null                 |0                                  |6           |
|364578     |2                     |WERBER BOMFIM LEITE                 |***053175**         |5.0                  |1994-12-23               |null|***000000**        |null                 |0                                  |7           |
+-----------+----------------------+------------------------------------+--------------------+---------------------+-------------------------+----+-------------------+---------------------+-----------------------------------+------------+
only showing top 5 rows

In [26]:
empresas.\
    select('nome_do_socio_ou_razao_social')\
    .filter(empresas.nome_do_socio_ou_razao_social.startswith("RAFAEL"))\
    .filter(empresas.nome_do_socio_ou_razao_social.endswith("BATISTA"))\
    .limit(10)\
    .toPandas()

    nome_do_socio_ou_razao_social
0          RAFAEL GOUVEIA BATISTA
1            RAFAEL BAREL BATISTA
2         RAFAEL QUINTINO BATISTA
3  RAFAEL CORADO DA SILVA BATISTA
4         RAFAEL QUINTINO BATISTA
5          RAFAEL EDUARDO BATISTA
6           RAFAEL MACEDO BATISTA
7           RAFAEL JENSEN BATISTA
8   RAFAEL FERREIRA ALVES BATISTA
9          RAFAEL DE LIMA BATISTA

In [29]:
estabelecimento.select("nome_fantasia").filter(f.upper(estabelecimento['nome_fantasia']).like('%RESTAURANTE')).show(10,False)

+--------------------------+
|nome_fantasia             |
+--------------------------+
|INACIOS BAR E RESTAURANTE |
|STYLLO HOTEL E RESTAURANTE|
|PALLIO'S RESTAURANTE      |
|ATRIUM - BAR E RESTAURANTE|
|DON MUGO RESTAURANTE      |
|ABRIL'S RESTAURANTE       |
|ATLANTICO RESTAURANTE     |
|MIOTTO'S RESTAURANTE      |
|BANGALO RESTAURANTE       |
|NERES RESTAURANTE         |
+--------------------------+
only showing top 10 rows

## Sumarizando os Dados

In [31]:
empresas\
    .select(f.year('data_de_entrada_sociedade').alias('ano_de_entrada'))\
    .where('ano_de_entrada >= 2014')\
    .groupBy('ano_de_entrada')\
    .count()\
    .orderBy('ano_de_entrada',ascending=True)\
    .show()

+--------------+------+
|ano_de_entrada| count|
+--------------+------+
|          2014| 80590|
|          2015| 80906|
|          2016| 81587|
|          2017| 90221|
|          2018| 99935|
|          2019|118248|
|          2020|125927|
|          2021| 56316|
+--------------+------+

In [35]:
data = [
    ('CARLOS', 'MATEMÁTICA', 7), 
    ('IVO', 'MATEMÁTICA', 9), 
    ('MÁRCIA', 'MATEMÁTICA', 8), 
    ('LEILA', 'MATEMÁTICA', 9), 
    ('BRENO', 'MATEMÁTICA', 7), 
    ('LETÍCIA', 'MATEMÁTICA', 8), 
    ('CARLOS', 'FÍSICA', 2), 
    ('IVO', 'FÍSICA', 8), 
    ('MÁRCIA', 'FÍSICA', 10), 
    ('LEILA', 'FÍSICA', 9), 
    ('BRENO', 'FÍSICA', 1), 
    ('LETÍCIA', 'FÍSICA', 6), 
    ('CARLOS', 'QUÍMICA', 10), 
    ('IVO', 'QUÍMICA', 8), 
    ('MÁRCIA', 'QUÍMICA', 1), 
    ('LEILA', 'QUÍMICA', 10), 
    ('BRENO', 'QUÍMICA', 7), 
    ('LETÍCIA', 'QUÍMICA', 9)
]
colNames = ['nome', 'materia', 'nota']
df = spark.createDataFrame(data, colNames)
df = df.withColumn('status', f.when(df.nota >= 7, "APROVADO").otherwise("REPROVADO"))
df.show()

+-------+----------+----+---------+
|   nome|   materia|nota|   status|
+-------+----------+----+---------+
| CARLOS|MATEMÁTICA|   7| APROVADO|
|    IVO|MATEMÁTICA|   9| APROVADO|
| MÁRCIA|MATEMÁTICA|   8| APROVADO|
|  LEILA|MATEMÁTICA|   9| APROVADO|
|  BRENO|MATEMÁTICA|   7| APROVADO|
|LETÍCIA|MATEMÁTICA|   8| APROVADO|
| CARLOS|    FÍSICA|   2|REPROVADO|
|    IVO|    FÍSICA|   8| APROVADO|
| MÁRCIA|    FÍSICA|  10| APROVADO|
|  LEILA|    FÍSICA|   9| APROVADO|
|  BRENO|    FÍSICA|   1|REPROVADO|
|LETÍCIA|    FÍSICA|   6|REPROVADO|
| CARLOS|   QUÍMICA|  10| APROVADO|
|    IVO|   QUÍMICA|   8| APROVADO|
| MÁRCIA|   QUÍMICA|   1|REPROVADO|
|  LEILA|   QUÍMICA|  10| APROVADO|
|  BRENO|   QUÍMICA|   7| APROVADO|
|LETÍCIA|   QUÍMICA|   9| APROVADO|
+-------+----------+----+---------+

In [36]:
df\
    .select('nota')\
    .summary('min', '25%', '50%', '75%', 'max')\
    .show()

+-------+----+
|summary|nota|
+-------+----+
|    min|   1|
|    25%|   7|
|    50%|   8|
|    75%|   9|
|    max|  10|
+-------+----+

In [37]:
df\
    .groupBy('status')\
    .count()\
    .orderBy('status', ascending=True)\
    .show()

+---------+-----+
|   status|count|
+---------+-----+
| APROVADO|   14|
|REPROVADO|    4|
+---------+-----+

## Join

In [38]:
empresas_join = estabelecimento.join(empresas,'cnpj_basico',how='inner')

In [39]:
empresas_join.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- cnpj_ordem: integer (nullable = true)
 |-- cnpj_dv: integer (nullable = true)
 |-- identificador_matriz_filial: integer (nullable = true)
 |-- nome_fantasia: string (nullable = true)
 |-- situacao_cadastral: integer (nullable = true)
 |-- data_situacao_cadastral: integer (nullable = true)
 |-- motivo_situacao_cadastral: integer (nullable = true)
 |-- nome_da_cidade_no_exterior: string (nullable = true)
 |-- pais: integer (nullable = true)
 |-- data_de_inicio_atividade: integer (nullable = true)
 |-- cnae_fiscal_principal: integer (nullable = true)
 |-- cnae_fiscal_secundaria: string (nullable = true)
 |-- tipo_de_logradouro: string (nullable = true)
 |-- logradouro: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- complemento: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- cep: integer (nullable = true)
 |-- uf: string (nullable = true)
 |-- municipio: integer (nullable = true)
 |-- ddd_1: string (nullable = true)
 |-- telefone_1: string (nullable = true)
 |-- ddd_2: string (nullable = true)
 |-- telefone_2: string (nullable = true)
 |-- ddd_do_fax: integer (nullable = true)
 |-- fax: string (nullable = true)
 |-- correio_eletronico: string (nullable = true)
 |-- situacao_especial: string (nullable = true)
 |-- data_da_situacao_especial: integer (nullable = true)
 |-- identificador_de_socio: integer (nullable = true)
 |-- nome_do_socio_ou_razao_social: string (nullable = true)
 |-- cnpj_ou_cpf_do_socio: string (nullable = true)
 |-- qualificacao_do_socio: double (nullable = true)
 |-- data_de_entrada_sociedade: date (nullable = true)
 |-- pais: integer (nullable = true)
 |-- representante_legal: string (nullable = true)
 |-- nome_do_representante: string (nullable = true)
 |-- qualificacao_do_representante_legal: integer (nullable = true)
 |-- faixa_etaria: integer (nullable = true)